<div class="row d-none d-md-block">
    <div class="container padding-bottom-3x">
      <div class="card stepper-wrapper mb-3">
        <div class="card-body">
          <div
            class="steps d-flex flex-wrap flex-sm-nowrap justify-content-between padding-top-2x padding-bottom-1x"
          >
            <div class="step completed">
              <div class="step-icon-wrap">
                <div class="step-icon"></div>
              </div>
              <h4 class="completed-title">Início</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"></div>
              </div>
              <h4 class="step-title">Documentos</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"></div>
              </div>
              <h4 class="step-title">Dados Cadastrais</h4>
            </div>
            <div class="step">
              <div class="step-icon-wrap">
                <div class="step-icon"></div>
              </div>
              <h4 class="step-title">Admissão</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>