<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4 card-info">
        <span class="info-situacao">Situação cadastral do CPF</span>
        <p class="text-muted info-consulta">Consulta na Receita Federal</p>

        <div class="row info">
          <div class="col-xs-12 col-sm-3">
            <bi name="person-fill" class="person-icon icons"></bi>
          </div>
          <div class="col-xs-12 col-sm-9">
            <span class="text-muted">Nome</span>
            <p>Mariane de Sousa Oliveira</p>
          </div>
        </div>

        <div class="row info">
          <div class="col-xs-12 col-sm-3">
            <bi name="check-circle" class="check-icon icons"></bi>
          </div>
          <div class="col-xs-12 col-sm-9">
            <span class="text-muted">Situação do CPF</span>
            <p>Regular</p>
          </div>
        </div>
      </div>
    </div>
  </div>