<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <span class="informe-titulo">Informe o CPF do futuro coopeerado (a)</span>
      <p class="informe-subtitulo">
        Se necessário, você poderá duplicar uma conta existente ou pausar e
        retomar este cadastro futuramente. Digite apenas os números (sem pontos
        ou traços).
      </p>
    </div>
  </div>
  <form>
    <input type="text" name="cpf" appCpfMask />
  </form>

  <button class="btn btn-consultar">Consultar por CPF</button>

  <app-cpf-info-card></app-cpf-info-card>
</div>
