.container-fluid {
  background-color: #d8d8d8;

  form {
    gap: 30px;

    input, button {
      height: 40px;
    }

    #cpf-input {
      width: 20%;
    }
  }
  
}

.informe-titulo {
  font-weight: 400;
  font-size: 22px;
  color: #101213;
}

.informe-subtitulo {
  font-weight: 400;
  font-size: 11px;
  line-height: 15px;
  color: #4f575e;
}

.btn-consultar {
  background: #165c7d;
  border: transparent;
  border-radius: 2px;
  color: white;
}