.modal-footer {
  .btn-duplicar {
    background-color: #165c7d;
    color: #fff;
    font-weight: 600;
    margin-left: 15px;
  }

  .btn-voltar {
    background-color: #fff;
    color: #165c7d;
    border: 1px solid #165c7d;
    font-weight: 600;
    margin-left: 15px;
  }
}
