main {
  position: relative;
}
.container-fluid {
  background-color: #d8d8d8;

  form {
    gap: 30px;

    input,
    button {
      height: 40px;
    }

    #cpf-input {
      width: 200px;
    }
  }
}

.informe-titulo {
  font-weight: 400;
  font-size: 26px;
  color: #101213;
}

.informe-subtitulo {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #4f575e;
}

.btn-consultar {
  background: #165c7d;
  border: transparent;
  border-radius: 2px;
  color: white;
}

@media (max-width: 500px) {
  #cpf-input {
    width: 50px;
  }

  .btn-consultar {
    font-size: 10px;
  }
}
