<header class="d-flex align-items-center bg-white py-3">
  <div class="container-fluid">
    <div class="row w-100">
      <div class="col-md-6">
        <h4 class="font-weight-bold">
          {{ "Nova Admissão Cooperado" | uppercase }}
        </h4>
        <p class="text-muted">
          Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-end">
        <div class="right-content d-flex align-items-center">
          <bi name="bell" class="bell-icon"></bi>
          <button class="btn btn-viacredi">Viacredi</button>
          <img
            src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745"
            alt="Foto do usuário"
            class="rounded-circle mr-3"
            width="50"
            height="50"
          />
        </div>
      </div>
    </div>
  </div>
</header>
